@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Open+Sans:wght@400;500;600;700&display=swap');

html {
    --primary-color: #cb252b;
    --secondary-color: #2f2e7a;
    --font-amiri: 'Amiri', serif;
    --font-open-sans: 'Open Sans', sans-serif;
}

/* custom scrollbar  */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #d4d4d4;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}


* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-amiri)
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

p {
    font-size: 1.2rem;
    color: rgb(83, 83, 83);
    font-weight: 400;
    font-family: var(--font-open-sans);
    margin: 1.5rem 0;
}

/* Typography  */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-amiri);
    text-transform: capitalize;
}

h1 {
    font-size: 4rem;
    font-weight: 500;
}

h2 {
    font-size: 3.5rem;
    font-weight: 600;
    color: var(--primary-color);
}

h3 {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--primary-color);
}

h4 {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

.text-blue {
    color: var(--secondary-color);
    transition: color .3s ease-in-out;
}

.text-blue:hover {
    color: var(--primary-color);
}

/* page titles for each page  */

.page-section {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.bg-cover {
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

.overlay {
    position: relative;
}

.overlay::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: .6;
}

.page-title {
    position: relative;
    z-index: 999;
}

.breadcrumb-active {
    color: var(--primary-color);
}

/* dividers border  */

.section-title-border {
    position: relative;
    height: 5px;
    width: 30px;
    background: var(--secondary-color);
    border-radius: 10px;
    margin-bottom: 20px;
}

.section-title-border::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 50%;
    background: var(--primary-color);
    border-radius: 10px;
    right: -60%;
    top: 0;
}

.section-title-border::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 25%;
    background: var(--secondary-color);
    border-radius: 10px;
    right: -100%;
    top: 0;
}

/* social share icons  */

.social-share-icons .bx {
    padding: 10px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

/* social share icons  */

.social-share-icons .bx {
    padding: 10px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.social-share-icons .bxl-facebook {
    background: #3B5998;
    color: white;
}

.social-share-icons .bxl-linkedin {
    background: #007bb5;
    color: white;
}

.social-share-icons .bxl-whatsapp {
    background: #00b489;
    color: white;
}

.social-share-icons .bxl-twitter {
    background: #55ACEE;
    color: white;
}


/* top header  */

.container {
    z-index: 99;
}


.top-header {
    background: var(--secondary-color);
    min-height: 5rem;
    display: flex;
    align-items: center;
}

.top-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.top-left-header {
    display: flex;
}

.top-left-header .phone .bi,
.mail .bi {
    color: white;
    font-size: 1.2rem;
    padding-right: .5rem;
}

.top-left-header .phone a,
.mail a {
    color: white;
    font-size: 1.3rem;
}

.top-left-header .phone {
    padding-right: 1rem;
}

.header-icons .bx {
    font-size: 1.5rem;
    color: white;
    padding-right: 1rem;
    cursor: pointer;
}

/* button  */

.btn {
    padding: .5rem 1.3rem;
    background: var(--primary-color);
    color: white;
    font-size: 1.5rem;
    border-radius: 0px;
}

.btn:hover {
    background: white;
    color: var(--secondary-color);
}

/* navigation menu  */

nav {
    display: flex;
    justify-content: space-between;
}

.nav-links {
    display: grid;
    place-content: center;
}

.nav-links ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.nav-links a {
    color: var(--secondary-color);
    padding: .5rem 1rem;
    font-size: 1.2rem;
    transition: all .2s linear;
}

.nav-active {
    background-color: var(--primary-color);
    color: white !important;
    padding: .5rem 1rem;
    font-size: 1.2rem;
}

.nav-links a:hover {
    background-color: var(--primary-color);
    color: white;
}

header {
    box-shadow: #5858581c 0px 3px 14px 0px;
    padding: 0;
}

.nav-logo img {
    width: 70%;
}

/* custom dropdown menu  */

.dropbtn {
    background-color: #ffffff;
    color: var(--secondary-color);
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropbtn:hover a {
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
    font-size: 1rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 162px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

.dropdown-content a:hover {
    color: #fff;
    background-color: var(--secondary-color);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn a {
    color: white;
}

.dropdown:hover .dropbtn {
    background-color: var(--primary-color);
    color: #fff;
}

/* custom dropdown menu end */



/* responsive header design  */
.bg-light {

    display: none;
}

@media (max-width:762px) {
    .bg-light {

        display: block;
    }

    nav {
        display: none;
    }

    .top-header-container {
        text-align: center;
        flex-direction: column;
    }
}

img {
    max-width: 100%;
}

body {
    font-size: 62.5%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 0.9rem;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4 {
    font-family: var(--primary-font);
}


/* hero section design  */
.hero-section {
    background-image: url(../images/blog/blog-hero.png);
    background-position: center;
    background-size: cover;
    padding: 5rem 0;
    position: relative;
}

.hero-section h1 {
    color: #fff;
    font-family: var(--primary-font);
    padding: 4rem 0;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 0;
    position: relative;
    z-index: 3;
}

.hero-section:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #cb252ad5, #2f2e7ad5);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.single-blog-header {
    position: relative;
    z-index: 33;
}

.single-blog-header h2 {
    color: white;
}

.single-blog-header p {
    color: rgb(209, 209, 209);
}

.logo-div {
    display: flex;
    padding: 1.5rem 0;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.logo-sub {
    color: #FFFFFF;
    margin-left: 1rem;
}

.logo-sub h5 {
    font-size: 0.8rem;
    font-family: var(--secondary-font);
    font-weight: 500;

}

.blogs-body p {
    font-size: 1rem;
    margin-top: 0.8rem;
    margin-bottom: 5rem;
}

/* hero section design end */


/* blog body design  */
.blogs-body p {
    font-size: 1rem;
}

.fechar-image-box {
    border: 1px solid #f0f1f2;
    transition: all .3s ease-in-out;
}

.fechar-image-box p {
    margin-bottom: 0;
    font-size: 1.5rem;
    padding: 2rem 0;
}

.fechar-image-box a {
    display: block;
    font-size: 1.3rem;
    color: #0073bb;
    margin-top: 0.6rem;
}

.image-box {
    border-right: 1px solid #f0f1f2;
    padding: 0.8rem;
}

.fechar-image-box:hover {
    background: #F7F8FB;
}

.fechar-image-box hr {
    padding: 0;
}

.tags {
    display: flex;
    margin-top: 1.5rem;

}

.tags strong {
    font-size: 0.8rem;
    color: var(--text-color);
}

.tags ul {
    list-style: none;
    padding-left: 5px;
}

.tags ul li {
    display: inline-block;

}

.tags ul li a {
    font-size: 0.9rem;

}

.left-logo {
    width: 80px;
    height: 80px;
    padding-left: 0;
}

.tags-sub-content {
    border-top: 1px solid #f0f1f2;
    padding-top: 2rem;
}

.right-content h3 {
    font-size: 1.3rem;
    font-weight: 500;

}

.right-content p {
    font-size: 1rem;
    color: var(--text-color);

}

.related-insights {
    background-color: #F3F5F7;
    padding: 5rem 0;
}

.related-heading h3 {
    font-size: 1.3rem;
    padding: 2rem;
    font-weight: 600;
    color: #707070;
    font-family: var(--secondary-font);

    position: relative;

}

.related-heading h3::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 1.2rem;
    background: var(--primary-color);
    left: 0;
    top: 2.6rem;
    margin-left: 0;
}


.related-blog {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

.related-blog-img img {
    max-width: 100px;
    object-fit: cover;
}

.related-blog-content a {
    font-size: 1.5rem;
    color: var(--heading-color);
    font-weight: 600;
}

.related-blog-content a:hover {
    color: var(--primary-color);
}

.related-blog-content h4 {
    font-size: 1.2rem;
    font-family: var(--secondary-font);
    color: var(--text-color);
    font-weight: 400;
    padding-top: 0.3rem;
}

/* blog body design end */



/* footer design  */
footer h5 {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--secondary-color);
    border-left: .4rem solid var(--primary-color);
    padding: 0rem 1.5rem;
}

footer p {
    margin-top: 1rem;
}

.footer-icon {
    margin-top: 1rem;
}

.footer-icon i {
    color: white;
    background: var(--primary-color);
    padding: 0.5rem;
    margin-right: 0.5rem;
}

.footer-info .mail a,
.footer-info .phone a {
    color: #2f2e7a;
    font-size: 1.2rem;
}

.footer-info .mail .bi,
.footer-info .phone .bi {
    color: #cb252b;
    font-size: 1.2rem;
}

.footer-info .phone .bi {
    margin-right: .5rem;
}

.footer-text {
    margin-top: 1.5rem;
}

.footer-copyright {
    background: var(--secondary-color);
    padding: .5rem 0;
}

.footer-copyright p {
    color: white;
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
}

/* footer design end */